* {
    font-family: 'Montserrat', sans-serif;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Poppins', sans-serif;
}

.courgette {
    font-family: 'Courgette', cursive;
}


.wrapper {
    max-width: 1200px;
    margin: 0 auto;
}