.main-blog {
    h2, h3 {
        letter-spacing: 5px;
        text-transform: uppercase;
    }
    >nav{
        border-bottom: 1px solid #dedede;
        @media  screen and (max-width:790px) {
            .wrapper{
                margin: 0 20px;
            }   
        }
    }
    .container {
        display: flex;
        section {
            padding-top: 80px;
        }
        .main-section{
            width: 75%;
            border-right: 1px #dedede solid;
            padding-right: 50px;
            article{
                a{
                    position: relative;
                    img{
                        height: 100%;
                    }
                    .red-date-box{
                        position: absolute;
                        top: 35px;
                        left: 25px;
                        background-color: red;
                        width: 75px;
                        height: 82px;
                        border-radius: 10px;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        color: #fff;
                        span {
                            padding: 0 5px;
                            &:first-child{
                                font-size: 2em;
                            }
                            &:last-child{
                                font-size: 0.8em;
                            }
                        }
                    }
                }
                .blog-title{
                    h2{
                        font-size: 1.7em;
                        font-weight: 400;
                    }
                    p{
                        line-height: 1.8;
                    }
                    a{
                        font-size: 0.8em;
                        text-transform: uppercase;
                        letter-spacing: 1.5px;
                    }
                }
                padding-bottom: 80px;
            }
        }
        .side-section{
            width: 25%;
            padding-left: 50px;
            .form-container{
                
                input{
                    border-radius: 0;
                }

            }
            h3{
                margin : 60px 0 40px 0;
            }
            nav {
                display: flex;
                flex-direction: column;
                a{
                    padding: 18px 0;
                    border-top: 1px solid #dedede;
                    border-bottom: 1px solid #dedede;
                    text-transform: uppercase;
                    font-size: 0.9em;
                    letter-spacing: 1.5px;
                    &:hover {
                        color: red;
                    }
                }
            }
            .pop{
                .pop-box{
                    display: flex;
                    justify-content: flex-start;
                    margin: 20px 0;
                    .images{
                        width: 80px;
                        height: 80px;
                        padding: 0;
                        border-radius: 10px;
                    }
                    &:nth-of-type(1){
                        .images{
                            background: url(../img/blog-02.jpg) center/cover;
                        }
                    }
                    &:nth-of-type(2){
                        .images{
                            background: url(../img/blog-06.jpg) center/cover;
                        }
                    }
                    &:nth-of-type(3){
                        .images{
                            background: url(../img/blog-08.jpg) center/cover;
                        }
                    }
                    &:nth-of-type(4){
                        .images{
                            background: url(../img/blog-10.jpg) center/cover;
                        }
                    }
                    &:nth-of-type(5){
                        .images{
                            background: url(../img/blog-06.jpg) center/cover;
                        }
                    }
                    div{
                        &:last-child{
                            width: 70%;
                            padding: 0 0 0 20px;
                            h4{
                                margin: 0;
                                text-transform: uppercase;
                                font-size: 0.8em;
                            }
                        }
                    }
                }
            }
            .archives {
                table{
                    width: 100%;
                    tr{
                        display: flex;
                        justify-content: space-between;
                        text-transform: uppercase;
                        font-size: 0.8em;
                        td{
                            margin: 10px 0;
                            a{
                                &:hover{
                                    color:red;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    @media  screen and (max-width:790px) {
        .container{
            flex-direction: column;
            margin: 20px;
            .main-section{
                width: 100%;
                border: none;
                padding: 80px 0 0 0;
            }
            .side-section{
                width: 100%;
                padding: 0;
            }
        }
    }
}    