.main-home {
    section {
        padding: 80px 0;
    }
    h3{
        font-size: 1.5em;
        text-transform: uppercase;
        letter-spacing: 2px;
    }
    .section-titre{
        h2{
            font-size: 3em;
            text-transform: uppercase;
            text-align: center;
            span {
                color: red;
                font-size: 1.8rem;
                font-weight: 400;
                text-transform:capitalize;
            };
        }
    }
    p{
        color: #666666;
    }
    a{
        color: #222222;
        text-decoration: none;
    }
    .arrow{
        &:after{
            content: "→" ;
            margin-left: 20px;
        }
    }
    // section italian restaurant
    .italian{
        background-color: #ECECEC;
        article{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            justify-items: center;
            align-items: center;
            text-align: center;
            .img{
                width: 65%;
            }
        }
    }
    // section discover pato
    .discover-pato{
        padding: 0;
        padding-bottom: 80px;
        .section-titre{
            background: url(../img/bg-intro-01.jpg) top/cover;
            background-attachment: fixed;
            padding: 100px 0;
            h2{
                color: #fff;
            }
        }
        .wrapper{
            padding-top: 80px;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 2em;
        }
    }
    //section discover menu
    .menu {
        background-color: #F4F2E9;
        .wrapper{
            display: grid;
            grid-template-areas: 
            "a b ."
            "a b ."
            "c c ."
            ;
            grid-template-rows:250px 250px 250px;
            gap: 2em;
            article {
                position: relative;
                .img{
                    height: 100%;
                    img{
                        height: 100%;
                        object-fit: cover;
                    }
                }
                a{
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    font-size: 1.2em;
                    text-align: center;
                }
                &:nth-of-type(1){
                    grid-area: a;
                }
                &:nth-of-type(2){
                    grid-area: b;
                }
                &:nth-of-type(5){
                    grid-area: c;
                }
            }
            
        }
    }
    //section events
    .events{
        background: url(../img/bg-event-01.jpg) center/cover;
        .wrapper {
            article{
                background-color: #fff;
                border-radius: 10px;
                overflow: hidden;
                display: grid;
                grid-template-columns: repeat(2,50%);
                .section-titre{
                    h2{
                        color: #fff;
                    }
                }
                .img-event{
                    position: relative;
                    a{
                        img{
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                    }
                    div{
                        position: absolute;
                        background-color: red;
                        width: 100%;
                        height: 80px;
                        opacity: 0.8;
                        top: 40%;
                        left: -44%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        transform: rotate(90deg);
                        p{
                            margin: 0;
                            color: #fff;
                        }
                    }
                }
                .txt-event{
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    align-items: center;
                    padding: 40px;
                    text-align: center;
                    .clock {
                        width: 100%;
                        display: flex;
                        justify-content: space-evenly;
                        align-items: center;
                        text-transform: uppercase;
                        font-size: 0.9em;
                        line-height: 1.5;
                        color: #666666;
                        span{
                            color: red;
                            font-size: 3em;
                            font-weight: 700;
                        }
                    }
                }
            }
        }
    }
    //section formulaire de reservation
    .reservation{
        .wrapper{
            .img{
                width: 400px;
                img{
                    height: 400px;
                    object-fit: cover;
                }
            }
            display: grid;
            grid-template-columns: repeat(2,1fr);
            justify-items: center;
            align-items: center;
            .form-container{
                form{
                    display: grid;
                    grid-template-columns: repeat(2,1fr);
                    gap: 2em;
                    label{
                        display: block;
                    }
                    input, select{
                        width: 100%;
                    }
                }
            }
        }
    }
    //regle générale pour les images en html de la page home
    .img{
        width: 100%;
        border-radius: 20px;
        overflow: hidden;
        img{
            width: 100%;
            height: 250px;
            transition: 1s ease all;
            &:hover{
                transform: scale(1.2);
                transition: 1s ease all;
            }
        }
    }
}