.main-home {
    section {
        padding: 120px 0;
    }
    h3{
        font-size: 1.5em;
        text-transform: uppercase;
        letter-spacing: 2px;
    }
    .section-titre{
        h2{
            font-size: 3em;
            text-transform: uppercase;
            text-align: center;
            letter-spacing: 10px;
            span {
                color: red;
                font-size: 1.8rem;
                font-weight: 400;
                text-transform:capitalize;
                letter-spacing: 1px;
            };
        }
    }
    // section italian restaurant
    .italian{
        background-color: #ECECEC;
        article{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            justify-items: center;
            align-items: center;
            text-align: center;
            .img{
                width: 65%;
            }
            @media  screen and (max-width:790px) {
                grid-template-columns: 1fr; 
                .img{
                    margin-top: 30px;
                    width: 65%;
                    img{
                        height: 100%;
                    }
                }
            }
        }
    }
    // section discover pato et last-news
    .discover-pato{
        .section-titre{
            background: url(../img/bg-intro-01.jpg) top/cover;
            background-attachment: fixed;
            padding: 100px 0;
            h2{
                color: #fff;
            }
        }
    }
    .discover-pato, .latest-news{
        padding: 0;
        padding-bottom: 80px;
        .wrapper{
            padding-top: 80px;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 2em;
            a{
                &:hover{
                    h3{
                        color: red;
                        transition: 0.2s ease all;
                    }
                }
            }
            p{
                line-height: 2em;
            }
            @media  screen and (max-width:790px) {
                grid-template-columns: 1fr;
                margin: 20px;
                img{
                    height: 100%;
                }
            }
        }
    }
    //section discover menu
    .menu {
        background-color: #F4F2E9;
        .wrapper{
            display: grid;
            grid-template-areas: 
            "a b ."
            "a b ."
            "c c ."
            ;
            grid-auto-rows: 250px;
            gap: 2em;
            article {
                position: relative;
                .img{
                    height: 100%;
                    img{
                        height: 100%;
                        object-fit: cover;
                    }
                }
                a{
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    font-size: 1.2em;
                    text-align: center;
                }
                &:nth-of-type(1){
                    grid-area: a;
                }
                &:nth-of-type(2){
                    grid-area: b;
                }
                &:nth-of-type(5){
                    grid-area: c;
                }
            }
            @media  screen and (max-width:790px) {
                margin: 20px;
                grid-template-areas: 
                "a b"
                "a b"
                "c c"
                ". ."
                ". ."
                ". ."
                ;
                grid-auto-rows: 200px;
                article{
                    &:nth-of-type(1){
                        grid-area: b;
                    }
                    &:nth-of-type(2){
                        grid-area: a;
                    }
                    &:nth-of-type(5){
                        grid-area: c;
                    }
                    &:nth-of-type(3){
                        grid-column: span 2;
                        grid-row: span 2;
                    }
                    &:nth-of-type(4){
                        grid-column: span 2;
                        grid-row: span 2;
                    }
                    &:nth-of-type(6){
                        grid-column: span 2;
                        grid-row: span 2;
                    }
                }
            }
        }
    }
    //section events
    .events{
        background: url(../img/bg-event-01.jpg) center/cover;
        .section-titre{
            h2{
                color: #fff;
            }
        }
        .wrapper {
            article{
                background-color: #fff;
                border-radius: 10px;
                overflow: hidden;
                display: grid;
                grid-template-columns: repeat(2,50%);
                .img-event{
                    position: relative;
                    a{
                        img{
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                    }
                    div{
                        position: absolute;
                        background-color: red;
                        width: 100%;
                        height: 80px;
                        opacity: 0.8;
                        top: 40%;
                        left: -44%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        transform: rotate(90deg);
                        p{
                            margin: 0;
                            color: #fff;
                        }
                    }
                }
                .txt-event{
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    align-items: center;
                    padding: 40px;
                    text-align: center;
                    .clock {
                        width: 100%;
                        display: flex;
                        justify-content: space-evenly;
                        align-items: center;
                        text-transform: uppercase;
                        font-size: 0.9em;
                        line-height: 1.5;
                        color: #666666;
                        span{
                            color: red;
                            font-size: 3em;
                            font-weight: 700;
                        }
                    }
                }
                @media  screen and (max-width:790px) {
                    margin: 60px;
                    grid-template-columns: 1fr;
                    .img-event{
                        div{
                            transform: none;
                            top: 0;
                            left: 0;
                            height: 40px
                        }
                    }
                }
            }
        }
    }
    //section formulaire de reservation
    .reservation{
        background-color: #ECECEC;
        .wrapper{
            .img{
                width: 400px;
                img{
                    height: 400px;
                    
                }
            }
            display: grid;
            grid-template-columns: repeat(2,1fr);
            justify-items: center;
            align-items: center;
            .form-container{
                width: 100%;
                form{
                    display: grid;
                    grid-template-columns: repeat(2,1fr);
                    gap: 2em;
                    .datum {
                        position: relative;
                        i{
                            position: absolute;
                            top: 45px;
                            right: 10px;
                            font-size: 1.8em;
                        }
                    }
                    select {
                        background: #fff;
                    }
                    .submit{
                        grid-column: span 2;
                        width: 25%;
                        justify-self: center;
                    }
                }
            }
            @media  screen and (max-width:790px) {
                display: block;
                margin: 20px;
                .form-container{
                    form{
                        display: flex;
                        flex-direction: column;
                        .submit{
                            align-self: center;
                        }
                    }
                }
                .img{
                    width: 400px;
                    margin: 40px auto;
                    img{
                        height: 400px;
                    }
                }
            }
        }
    }
    //section customers
    .customers{
        article {
            div {
                text-align: center;
                &:first-child{
                    img {
                        height: 120px;
                        clip-path: circle(50%);
                        border: 4px solid red;
                        border-radius: 50%;
                    }
                }
                &:last-child{
                    font-size: 1.1em;
                    padding: 0 150px;
                    .stars{
                        font-size: 2em;
                        color: red;
                        padding-bottom: 20px;
                    }
                    blockquote{
                        font-size: 0.9em;
                        color: rgb(24, 24, 24);
                    }
                }
            }
        }
    }
    //section video
    .our-video{
        height: 600px;
        background: url(../../img/bg-intro-04.jpg) fixed;
        display: flex;
        align-items: center;
        .section-titre{
            color: #fff;
        }
    }
    
    //section sign
    .sign{
        display: flex;
        justify-content: center;
        background: #F3F0F0;
        .sign-form{
            display: grid;
            grid-template-columns: repeat(3,1fr);
            justify-items: center;
            align-items: center;
            column-gap: 20px;
            label{
                text-transform: uppercase;
                letter-spacing: 5px;
                font-weight: 700;
                font-size: 1.2em;
                font-family: Poppins;
                color: rgb(77, 77, 77);
            }
            a{
                background: #000;
                color: #fff;
                &:hover{
                    background: red;
                    transition: 0.2s all ease;
                }
            }
            .btn {
                width: 80%;
                text-align: center;
            }
            .form-container{
                button{
                    background: transparent;
                    i{
                        color: #000;
                    }
                }
            }
            @media  screen and (max-width:790px) {
                margin: 20px;
                grid-template-columns: 1fr;
                >* {
                    margin: 20px;
                }
            }
        }
    }
}
//regle générale pour les images en html de la page home
.img{
    width: 100%;
    border-radius: 20px;
    overflow: hidden;
    img{
        width: 100%;
        height: 250px;
        transition: 1s ease all;
        &:hover{
            transform: scale(1.2);
            transition: 1s ease all;
        }
    }
}
